.bg-blue{
    background-color: #1D72C2;
    padding-left: 2vw;
    padding-right: 2vw;


    div>h3{
        color: white;
    }
}

.items{
    padding-left: 10px;
    padding-right: 10px;

    ul>li>a{
        color: white;
        font-size: large;

        &:hover{
            font-weight: bold;
            color: white;
            border-bottom: 2px  solid white;
        }
    }
}