$bg-contact-color:rgba(232, 237, 252, 0.9);
$bg-contact-text: #0683F9;
$blue: #1d72C2;
$white: #FFFFFF;
$black: #000000;
$TxtOpenSans: 'Open Sans', sans-serif;
$bordersolidblack: 1px solid black;
$progress-bar-25: #1CC1F5;
$progress-bar-50: #FFC700;
$progress-bar-75: #FF6F00;
$progress-bar-100: #DE0028;
$bg-progress-bar:#E8E8E8;