.sectionCity{
    display: flex;
    justify-content: flex-end;

    .titleCity{
        text-align: center;
        border: $bordersolidblack;
        width: 15%;
        margin: 4% 5%;
        font-weight: 600;
    }
}
