.sectionCity {
    display: flex;
    justify-content: flex-end;
    margin: 2% 3%;

    .btnTitleCity {
        background-color: $blue;
        color: $white;
        font-family: $TxtOpenSans;
        border-color: transparent;
        border-radius: 3px;
        width: 173px;
        height: 42px;
        cursor: pointer;
    }
}

.optionsTreeView {
    margin: auto 3%;
}

/* buttons and countries styles */

.countryContainer {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 2%;
}

.btnAddCountry {
    grid-column: 4 / 5;
    height: 30px;
}

.countryContainer > li > ul > li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.countryContainer > li {
    width: 86vw;
}

.btnAddCity {
    grid-column: 7/8;
}

.btnEditCity {
    grid-column: 2/3;
}

.btnDeleteCity {
    grid-column: 3/4;
}

.countryContainer > .cities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* tree view css */

ul,
#cityTreeView {
    list-style-type: none;
}

#cityTreeView {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

/* modal */

.addNewRegionCity{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 3% 3% 3% 2%;
    gap: 22% 2%;

    >div{
        display: grid;
    }
    
}

.closeModalCityButtons{
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    padding: 3%;

    .btnCancel{
        grid-column: 1/2;
        cursor: pointer;
    }

    .btnSaveContact{
        grid-column: 2/3;
        cursor: pointer;
    }
}