.sectionCity{
    display: flex;
    justify-content: flex-end;
    margin: 2% 3%;

    .btnTitleCity{
        background-color: $blue;
        color: $white;
        font-family: $TxtOpenSans;
        border-color: transparent;
        border-radius: 3px;
        width: 173px;
        height: 42px;
    }
}
