.companiesTitleContainer {
    margin: 4% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h3 {
        font-family: $TxtOpenSans;
    }

    .btnAddCompanies {
        background-color: $blue;
        color: $white;
        font-family: $TxtOpenSans;
        border-color: transparent;
        border-radius: 3px;
        width: 173px;
        height: 42px;
        cursor: pointer;
    }
}

.companiesTable {
    margin: 4% 2%;
    border: $bordersolidblack;
    text-align: center;

    > thead {
        padding: 1%;
        font-family: $TxtOpenSans;
        color: $black;

        tr > th {
            width: 5%;
        }
    }

    > tbody {
        padding: 1%;
        color: $black;

        tr > td {
            width: 5%;
        }
    }
}
