.contactsSection {
    margin: 2% 2%;
    font-family: $TxtOpenSans;

    .titleContacts {
        font-weight: bolder;
        font-size: x-large;
        font-family: "Open Sans", sans-serif;
    }
}

.uk-margin {
    display: flex;
    justify-content: space-between;
    height: 15vh;

    .search {
        width: 50%;
        display: flex;

        .uk-search-default {
            width: 90%;

            .uk-search-input {
                border-radius: 5px;
            }
        }

        .iconSearch {
            margin: 0 0.7%;
            border: 1px solid #e5e5e5;
            padding-left: 9px;
            padding-right: 9px;
            padding-top: 9px;
            padding-bottom: 9px;
            color: $blue;
            border-radius: 5px;
            height: fit-content;
        }
    }

    div > .addContactBtn {
        background-color: $blue;
        color: $white;
        font-family: $TxtOpenSans;
        border-color: transparent;
        border-radius: 3px;
        width: 173px;
        height: 42px;
        cursor: pointer;
    }
}

.uk-table > thead > tr > th,
.uk-table > tbody > tr > td {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: inherit;
}

.uk-table > thead > tr > .checkboxTHead, .uk-table > tbody > tr > th {
    padding: 16px 12px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.875rem;
    font-weight: 400;
    color: #999;
    text-transform: uppercase;
}

.uk-table {
    border: 1px solid #e5e5e5;

    .contactsTableHead {
        border-bottom: 1px solid #e5e5e5;
    }

    .contactsTableBody > tr > .interestPercentage {
        display: flex;
        justify-content: space-around;
        align-items: center;

        // div{
        //     width: 60%;
        // }
    }

    .contactsTableBody > tr > .tripleDot {
        text-align: center;
    }

    .upDownArrow {
        height: 14px;
        width: 14px;
        margin-left: 3px;
    }

    .contactChannel {
        background-color: $bg-contact-color;
        color: $bg-contact-text;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
    }

    .secondTextGrey{
        color: $second-text-color;
    }
}

.contactsTableBody {
    .contactName {
        display: flex;
        align-items: center;
        width: 18vw;

        .image {
            width: 24px;
            height: 24px;
            margin-right: 2%;
        }

        .contactImage {
            border-radius: 24px;
        }
    }
}

/* modal */

.titleContactsModal {
    display: flex;
    justify-content: space-between;
    background-color: $blue;
    color: $white;
    padding: 1% 1% 7% 2.5%;

    .newContactTitle {
        color: $white;
    }
}

.contactInformation {
    display: grid;
    border: 3px solid $bg-contact-text;
    border-radius: 6.5px;
    margin: 2% 0.5% -8% 1.5%;
    padding: 3% 1% 3% 1%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    top: -15vh;
    background-color: white;

    .requiredRed {
        color: red;
    }
}

.plusContactInformation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 3% 3% 3% 2%;
    gap: 22% 2%;

    > div {
        display: grid;
    }

    .interestContainer {
        display: grid;
        grid-template-columns: 8fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2%;

        .interestLabel {
            grid-column: 1 / 2;
        }
    }

    .addChannel {
        display: grid;
        grid-template-rows: 1fr 1fr;

        > input {
            grid-row: 2 / 3;
        }
    }
}

.closeModalButtons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: end;
    padding: 3%;

    .btnCancel {
        grid-column: 7/8;
        cursor: pointer;
    }

    .btnSaveContact {
        grid-column: 8/9;
        cursor: pointer;
    }
}