.Users {
    border: 1px solid black;
    width: 36%;
    margin: 8% auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2% 0;

    .createUser{
        display: flex;
        flex-direction: column;
    }

    .createUser > .container {
        display: flex;
        justify-content: space-between;

        label{
            padding-right: 25px;
        }
    }

    .createUser > #create{
        align-self: flex-end;
    }
}
