{{>partials/head}}
{{> partials/header}}
<section class="sectionCity">
    <button class="btnTitleCity">Agregar región</button>
</section>
{{> partials/treeview}}
{{> partials/footer}}
{{>partials/foot}}