{{>partials/head}}
{{> partials/header}}
<div class="companiesTitleContainer">
    <h3>Compañías</h3>
    <button class="btnAddCompanies" uk-toggle="target: #companies-modal">Agregar</button class="btnAddCompanies">
</div>
<section>
    <table class="companiesTable">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Email
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Ciudad
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <div>
            <tbody>
                <tr>
                    <td>
                        Sofftek
                    </td>
                    <td>
                        Avenida siempre viva 273
                    </td>
                    <td>
                        Sofftek@gmail.com
                    </td>
                    <td>
                        42575555
                    </td>
                    <td>
                        Buenos Aires
                    </td>
                    <td>
                        <button class="btnEditCompany">Edit</button>
                        <button class="btnDeletecompany">X</button>
                    </td>
                </tr>
            </tbody>
        </div>
    </table>

 {{!-- Modal --}}

  <div id="companies-modal" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog">
      <div class="contactsContainer">
        <div class="titleContactsModal">
          <h2 class="uk-modal-title newContactTitle">Nueva compañía</h2>
          <a class="uk-modal-close" type="a"><img src="../assets/close.png" alt="close modal"></a>
        </div>
      </div>
      <form action="">
        <div class="addNewCompanie">
            <div>
                <label for="name">Nombre<span class="requiredRed">*</span></label>
                <input type="text" id="name" required>
            </div>
            <div>
                <label for="region">Dirección</label>
                <input type="text" placeholder="Ingresa una dirección">
            </div>
            <div>
                <label for="email">Email<span class="requiredRed">*</span></label>
                <input type="email" id="email" required>
            </div>
            <div>
                <label for="phone">Teléfono<span class="requiredRed">*</span></label>
                <input type="tel" id="phone" required>
            </div>
            <div>
                <label for="city">Ciudad<span class="requiredRed">*</span></label>
                <select id="city" name="city">
                <option hidden selected value="">Seleccionar ciudad</option>
                <option value="city">Buenos Aires</option>
                </select>
            </div>
        </div>
      </form>
        <div class="closeModalButtons">
          <button class="uk-modal-close btnCancel" type="button">Cancelar</button>
          <button class="uk-modal-close btnSaveContact" type="button">Guardar compañía</button>
        </div>
    </div>
  </div>

</section>
{{> partials/footer}}
{{>partials/foot}}