{{>partials/head}}
{{> partials/header}}
<div class="companiesTitleContainer">
    <h3>Compañías</h3>
    <div>Agregar</div>
</div>
<table class="companiesTable">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                País
            </th>
            <th>
                Dirección
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <div>
        <tbody>
            <tr>
                <td>
                    Sofftek
                </td>
                <td>
                    México
                </td>
                <td>
                    XXXXXXXXX
                </td>
                <td>
                    [Edit][X]
                </td>
            </tr>
        </tbody>
    </div>
</table>
{{> partials/footer}}
{{>partials/foot}}