{{>partials/head}}
{{> partials/header}}
<section class="contactsSection">
  <h2 class="titleContacts">Contactos</h2>
  <div class="uk-margin">
    <div class="search">
      <form class="uk-search uk-search-default">
        <input type="search" class="uk-search-input" placeholder="Search">
      </form>
      <a href="https://google.com" class="uk-text-bold iconSearch uk-search-icon-flip" uk-search-icon></a>
    </div>
    <div>
      <button class="addContactBtn" uk-toggle="target: #my-id">Agregar contacto</button>
    </div>
  </div>

{{!-- table --}}
  <table class="uk-table">
    <thead class="contactsTableHead">
      <tr>
        <th class="uk-text-capitalize checkboxTHead"><input type="checkbox"></th>
        <th class="uk-text-capitalize">Contacto<img class="upDownArrow" src="../assets/arrow.png" alt="change order"></th>
        <th class="uk-text-capitalize">País/Región<img class="upDownArrow" src="../assets/arrow.png" alt="change order"></th>
        <th class="uk-text-capitalize">Compañía<img class="upDownArrow" src="../assets/arrow.png" alt="change order"></th>
        <th class="uk-text-capitalize">Cargo<img class="upDownArrow" src="../assets/arrow.png" alt="change order"></th>
        <th class="uk-text-capitalize">Canal preferido</th>
        <th class="uk-text-capitalize">Interés<img class="upDownArrow" src="../assets/arrow.png" alt="change order"></th>
        <th class="uk-text-capitalize">Acciones</th>
      </tr>
    </thead>
    <tbody class="contactsTableBody">
      <tr>
        <th class="uk-text-capitalize"><input type="checkbox"></th>
        <td class="contactName">
          {{!-- <div class="image">
            <img class="contactImage" src="https://lechatmagazine.com/wp-content/uploads/2020/05/tiktok-egirl-portada.jpg" alt="">
          </div> --}}
          <div>Camila Soledad Pantó<br><label>camilapanto123@gmail.com</label></div>
          </td>
        <td>Argentina<br><label>Latam</label></td>
        <td>Mercadolibre</td>
        <td>UX Designer</td>
        <td>
          <button class="contactChannel">WhatsApp</button>
        </td>
        <td class="interestPercentage uk-table-expand">100%
            <div class="progress">
              <div class="progress-bar red"></div>
            </div>
        </td>
        <td class="tripleDot"><span class="material-symbols-outlined">more_horiz</span></td>
      </tr>
      <tr>
        <th class="uk-text-capitalize"><input type="checkbox"></th>
        <td class="contactName">
          {{!-- <div class="image">
            <img class="contactImage" src="https://lechatmagazine.com/wp-content/uploads/2020/05/tiktok-egirl-portada.jpg" alt="">
          </div> --}}
          <div>Agustín Emanuel Soria<br><label>agustinesoria96@gmail.com</label></div>
          </td>
        <td>Argentina<br><label>Latam</label></td>
        <td>Acámica</td>
        <td>UI Designer</td>
        <td>
          <button class="contactChannel">Facebook</button>
          <button class="contactChannel">WhatsApp</button>
        </td>
        <td class="interestPercentage uk-table-expand">100%
            <div class="progress">
              <div class="progress-bar red"></div>
            </div>
        </td>
        <td class="tripleDot"><span class="material-symbols-outlined">more_horiz</span></td>
      </tr>
    </tbody>
  </table>

{{!-- Modal --}}

  <div id="my-id" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog">
      <div class="contactsContainer">
        <div class="titleContactsModal">
          <h2 class="uk-modal-title newContactTitle">Nuevo contacto</h2>
          <a class="uk-modal-close" type="a"><img src="../assets/close.png" alt="close modal"></a>
        </div>
      </div>
      <form action="">
        <div class="contactInformation">
          <img src="../assets/addpersonphoto.png" alt="add image person">
          {{!-- <input type="image"> --}}
          <div>
            <label for="name">Nombre<span class="requiredRed">*</span></label>
            <input type="text" id="name" required>
          </div>
          <div>
            <label for="lastname">Apellido<span class="requiredRed">*</span></label>
            <input type="text" id="lastname" required>
          </div>
          <div>
            <label for="occupation">Cargo<span class="requiredRed">*</span></label>
            <input type="text" id="occupation" required>
          </div>
          <div>
            <label for="email">Email<span class="requiredRed">*</span></label>
            <input type="email" id="email" required>
          </div>
          <div>
            <label for="company">Compañía<span class="requiredRed">*</span></label>
            <input type="text" id="company" required>
        </div>
        </div>
        <div class="plusContactInformation">
          <div>
            <label for="region">Región</label>
            <select id="region" name="region">
              <option hidden selected value="">Seleccionar región</option>
              <option value="Sudamérica">Sudamérica</option>
            </select>
          </div>
          <div>
            <label for="country">País</label>
            <select id="country" name="country">
              <option hidden selected value="">Seleccionar país</option>
              <option value="country">Argentina</option>
            </select>
          </div>
          <div>
            <label for="city">Ciudad</label>
            <select id="city" name="city">
              <option hidden selected value="">Seleccionar ciudad</option>
              <option value="city">Buenos Aires</option>
            </select>
          </div>
          <div>
            <label for="region">Dirección</label>
            <input type="text" placeholder="Ingresa una dirección">
          </div>
          <div class="interestContainer">
            <label for="interest">Interés</label>
            <select id="interest" name="interest">          
              <option value="interest">0%</option>
              <option value="interest">25%</option>
              <option value="interest">50%</option>
              <option value="interest">75%</option>
              <option value="interest">100%</option>
            </select>
          </div>
          <div class="contactChannelContainer">
            <label for="contactChannel">Canal de contacto</label>
            <select id="contactChannel" name="contactChannel">
              <option hidden selected value="">Seleccionar canal</option>
              <option value="contactChannel">WhatsApp</option>
            </select>
          </div>
          <div>
              <label for="userAccount">Cuenta de usuario</label>
              <input type="text" name="userAccount" id="userAccount" placeholder="@ejemplo">
          </div>
          <div>
              <label for="preferences">Preferencias</label>
              <select id="preferences" name="preferences">
                <option hidden selected value="">Sin preferencia</option>
                <option value="preferences">No molestar</option>
              </select>
          </div>
          <div class="addChannel">
            <input type="text" placeholder="Agregar canal">
          </div>
        </div>
      </form>
        <div class="closeModalButtons">
          <button class="uk-modal-close btnCancel" type="button">Cancelar</button>
          <button class="uk-modal-close btnSaveContact" type="button">Guardar contacto</button>
        </div>
    </div>
  </div>
  
</section>
{{> partials/footer}}
{{>partials/foot}}