{{>partials/head}}
{{> partials/header}}
<section class="contactsSection">
  <h2 class="titleContacts">Contactos</h2>
  <div class="uk-margin">
    <form class="uk-search uk-search-default">
      <input type="search" class="uk-search-input" placeholder="Search">
    </form>
      <a href="https://google.com" class="uk-text-bold iconSearch uk-search-icon-flip" uk-search-icon></a>
  </div>

  <table class="uk-table">
    <thead>
      <tr>
        <th class="uk-text-capitalize">checkmark????</th>
        <th class="uk-text-capitalize">Contacto</th>
        <th class="uk-text-capitalize">País/Región</th>
        <th class="uk-text-capitalize">Compañía</th>
        <th class="uk-text-capitalize">Cargo</th>
        <th class="uk-text-capitalize">Canal preferido</th>
        <th class="uk-text-capitalize">Interés</th>
        <th class="uk-text-capitalize">Acciones</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
      </tr>
      <tr>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
      </tr>
    </tbody>
  </table>
</section>
{{> partials/footer}}
{{>partials/foot}}