{{>partials/head}}
{{> partials/header}}
<section class="contactsSection">
  <h2 class="titleContacts">Contactos</h2>
  <div class="uk-margin">
    <div class="search">
      <form class="uk-search uk-search-default">
        <input type="search" id="inputSearch" class="uk-search-input" placeholder="Buscar por email">
      </form>
      <a href="https://google.com" class="uk-text-bold iconSearch uk-search-icon-flip" uk-search-icon></a>
    </div>
    <div>
      <button class="addContactBtn" uk-toggle="target: #my-id">Agregar contacto</button>
    </div>
  </div>

{{!-- table --}}
  <table id="contactsTable" class="uk-table">
    <thead class="contactsTableHead">
      <tr>
        <th class="uk-text-capitalize checkboxTHead"><input type="checkbox"></th>
        <th class="uk-text-capitalize">Contacto<img class="upDownArrow" src="/assets/arrow.png" alt="cambiar orden"></th>
        <th class="uk-text-capitalize">País/Región<img class="upDownArrow" src="/assets/arrow.png" alt="cambiar orden"></th>
        <th class="uk-text-capitalize">Compañía<img class="upDownArrow" src="/assets/arrow.png" alt="cambiar orden"></th>
        <th class="uk-text-capitalize">Cargo<img class="upDownArrow" src="/assets/arrow.png" alt="cambiar orden"></th>
        <th class="uk-text-capitalize">Canal preferido</th>
        <th class="uk-text-capitalize">Interés<img class="upDownArrow" src="/assets/arrow.png" alt="cambiar orden"></th>
        <th class="uk-text-capitalize">Acciones</th>
      </tr>
    </thead>
    <tbody class="contactsTableBody">
    </tbody>
  </table>

{{!-- <ul class="uk-pagination uk-flex-right">
    <li><a href="#"><span uk-pagination-previous></span></a></li>
    <li><a href="#"><span class="uk-margin-small-left" uk-pagination-next></span></a></li>
</ul> --}}

{{!-- Modal --}}

  <div id="my-id" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog">
      <div class="contactsContainer">
        <div class="titleContactsModal">
          <h2 class="uk-modal-title newContactTitle">Nuevo contacto</h2>
          <a class="uk-modal-close" type="a"><img src="../assets/close.png" alt="close modal"></a>
        </div>
      </div>
      <form action="">
        <div class="contactInformation">
          <img src="../assets/addpersonphoto.png" alt="add image person">
          {{!-- <input type="image"> --}}
          <div>
            <label for="name">Nombre<span class="requiredRed">*</span></label>
            <input type="text" id="name" required>
          </div>
          <div>
            <label for="lastname">Apellido<span class="requiredRed">*</span></label>
            <input type="text" id="lastname" required>
          </div>
          <div>
            <label for="occupation">Cargo<span class="requiredRed">*</span></label>
            <input type="text" id="occupation" required>
          </div>
          <div>
            <label for="email">Email<span class="requiredRed">*</span></label>
            <input type="email" id="email" required>
          </div>
          <div>
            <label for="company">Compañía<span class="requiredRed">*</span></label>
            <input type="text" id="company" required>
        </div>
        </div>
        <div class="plusContactInformation">
          <div>
            <label for="region">Región</label>
            <select id="region" name="region">
              <option hidden selected value="">Seleccionar región</option>
              <option value="Sudamérica">Sudamérica</option>
            </select>
          </div>
          <div>
            <label for="country">País</label>
            <select id="country" name="country">
              <option hidden selected value="">Seleccionar país</option>
              <option value="country">Argentina</option>
            </select>
          </div>
          <div>
            <label for="city">Ciudad</label>
            <select id="city" name="city">
              <option hidden selected value="">Seleccionar ciudad</option>
              <option value="city">Buenos Aires</option>
            </select>
          </div>
          <div>
            <label for="region">Dirección</label>
            <input type="text" placeholder="Ingresa una dirección">
          </div>
          <div class="interestContainer">
            <label for="interest">Interés</label>
            <select id="interest" name="interest">          
              <option value="interest">0%</option>
              <option value="interest">25%</option>
              <option value="interest">50%</option>
              <option value="interest">75%</option>
              <option value="interest">100%</option>
            </select>
          </div>
          <div class="contactChannelContainer">
            <label for="contactChannel">Canal de contacto</label>
            <select id="contactChannel" name="contactChannel">
              <option hidden selected value="">Seleccionar canal</option>
              <option value="contactChannel">WhatsApp</option>
            </select>
          </div>
          <div>
              <label for="userAccount">Cuenta de usuario</label>
              <input type="text" name="userAccount" id="userAccount" placeholder="@ejemplo">
          </div>
          <div>
              <label for="preferences">Preferencias</label>
              <select id="preferences" name="preferences">
                <option hidden selected value="">Sin preferencia</option>
                <option value="preferences">No molestar</option>
              </select>
          </div>
          <div class="addChannel">
            <input type="text" placeholder="+ Agregar canal">
          </div>
        </div>
      </form>
        <div class="closeModalButtons">
          <button class="uk-modal-close btnCancel" type="button">Cancelar</button>
          <button class="uk-modal-close btnSaveContact" type="button">Guardar contacto</button>
        </div>
    </div>
  </div>

  <div id="delete-contact" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical deleteModalContainer">
        <h3 class="titleDeleteModal">¿Desea eliminar el contacto?</h3>
        <div class="buttonsModalDelete">
            <button class="uk-modal-close" id="closeModal">Cancelar</button>
            <button class="uk-modal-close" id="deleteContact">Confirmar</button>
        </div>
    </div>
  </div>
  
</section>
{{> partials/footer}}
{{>partials/foot}}