{{>partials/head}}
{{> partials/header}}
<section class="contactsSection">
  <h2 class="titleContacts">Contactos</h2>
  <div class="uk-margin">
    <div class="search">
      <form class="uk-search uk-search-default">
        <input type="search" class="uk-search-input" placeholder="Search">
      </form>
      <a href="https://google.com" class="uk-text-bold iconSearch uk-search-icon-flip" uk-search-icon></a>
    </div>
    <div>
      <button class="addContactBtn">Agregar contacto</button>
    </div>
  </div>

  <table class="uk-table">
    <thead class="contactsTableHead">
      <tr>
        <th class="uk-text-capitalize"><input type="checkbox"></th>
        <th class="uk-text-capitalize">Contacto<img class="upDownArrow" src="../assets/arrow.png" alt="change order"></th>
        <th class="uk-text-capitalize">País/Región<img class="upDownArrow" src="../assets/arrow.png" alt="change order"></th>
        <th class="uk-text-capitalize">Compañía<img class="upDownArrow" src="../assets/arrow.png" alt="change order"></th>
        <th class="uk-text-capitalize">Cargo<img class="upDownArrow" src="../assets/arrow.png" alt="change order"></th>
        <th class="uk-text-capitalize">Canal preferido</th>
        <th class="uk-text-capitalize">Interés<img class="upDownArrow" src="../assets/arrow.png" alt="change order"></th>
        <th class="uk-text-capitalize">Acciones</th>
      </tr>
    </thead>
    <tbody class="contactsTableBody">
      <tr>
        <th class="uk-text-capitalize"><input type="checkbox"></th>
        <td class="contactName">
          {{!-- <div class="image">
            <img class="contactImage" src="https://lechatmagazine.com/wp-content/uploads/2020/05/tiktok-egirl-portada.jpg" alt="">
          </div> --}}
          <div>Camila Soledad Pantó<br><label>camilapanto123@gmail.com</label></div>
          </td>
        <td>Argentina<br><label>Latam</label></td>
        <td>Mercadolibre</td>
        <td>UX Designer</td>
        <td>
          <button class="contactChannel">WhatsApp</button></td>
        <td class="interestPercentage uk-table-expand">100%<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-red-600 h-2.5 rounded-full" style="width: 45%"></div>
          </div>
        </td>
        <td class="tripleDot"><span class="material-symbols-outlined">more_horiz</span></td>
      </tr>
    </tbody>
  </table>
</section>
{{> partials/footer}}
{{>partials/foot}}