<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
<header>
    <nav>
        <div class="bg-blue uk-navbar uk-padding-remove-vertical">
            <div class="uk-flex uk-flex-bottom">
                <h3 class="uk-text-bold">LOGO</h3>
            </div>
            <div class="uk-navbar-right items">
                <ul class="uk-navbar-nav uk-parent">
                    <li><a class="uk-text-capitalize" href="/">Contactos</a></li>
                    <li><a class="uk-text-capitalize" href="/news.html">Compañías</a></li>
                    <li><a class="uk-text-capitalize" href="/">Usuarios</a></li>
                    <li><a class="uk-text-capitalize" href="/">Región/Ciudad</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>