<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
<header>
    <nav>
        <div class="bg-blue">
            <div class="uk-flex uk-flex-middle">
                <h3 class="uk-text-bold centerLogo">LOGO</h3>
            </div>
        </div>
    </nav>
</header>