<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<header>
    <nav>
        <div class="bg-blue uk-navbar uk-padding-remove-vertical">
            <div class="uk-flex uk-flex-bottom">
                <h3 class="uk-text-bold">LOGO</h3>
            </div>
            <div class="uk-navbar-right items">
                <ul class="uk-navbar-nav uk-parent">
                    <li><a class="uk-text-capitalize" href="/index.html">Contactos</a></li>
                    <li><a class="uk-text-capitalize" href="/companies.html">Compañías</a></li>
                    <li><a class="uk-text-capitalize" href="/users.html">Usuarios</a></li>
                    <li><a class="uk-text-capitalize" href="/city.html">Región/Ciudad</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>