<section class="optionsTreeView">
    <ul id="cityTreeView">
    {{!-- <div class="countryContainer">
        <li><span class="caret">Norteamérica</span>
            <ul class="nested">
                <li><span class="caret">México</span>
                    <button class="btnEditCity">Edit</button>
                    <button class="btnDeleteCity">Delete</button>
                    <button class="btnAddCity">Add city</button>
                    <ul class="cities nested">
                        <li>Ciudad de México</li>
                        <button class="btnEditCity">Edit</button>
                        <button class="btnDeleteCity">Delete</button>
                        <li>Tijuana</li>
                        <button class="btnEditCity">Edit</button>
                        <button class="btnDeleteCity">Delete</button>
                    </ul>
                </li>
            </ul>
        </li>
        <button class="btnAddCountry">Add country</button>
    </div> --}}
    </ul>
</section>